.study-content {
  height: 100%;
}

.header {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  .placeholder {
    width: 50px;
  }
}

.body {
  height: calc(100% - 50px);
  display: flex;
}
